
.all-heads {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
.all-heads__big {
        
        margin-top: 130px;
        font-family: "Montserrat_B";
        font-size: 38px;
        color: rgb(24, 25, 25);
        text-transform: uppercase;
    }
    
.all-heads__small {
        
        font-family: "Merriweather_R";
        font-size: 18px;
        color: rgb(24, 25, 25);
        text-transform: uppercase;
    }


.flex_container {
    max-width: 1440px;
    margin: 0 auto;
    
}

.main_block {
    background-color: rgb(239,240,242);
    width: 100%;
    height: 806px;
    }

/* .all-margins {
    margin-left: 150px;
    margin-right: 150px;
} */

.head_nav__container {
    max-width: 1155px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.head_nav__element {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 64px;
}



a {
    text-decoration: none;
  }
  
  nav {
      font-family: monospace;
  }
  
  ul {
   
      list-style: none;
      margin: 0;
      padding-left: 0;
  }
  
  li {
      color: #fff;
      display: block;
      float: left;
      padding: 1rem;
      position: relative;
      text-decoration: none;
    transition-duration: 0.5s;
  }
    
  li a {
    color: rgb(71, 69, 69);
    font-family: "Montserrat_B";
    font-size: 15px;
  }
  
  li:hover {
      background: rgba(73, 88, 98, 0);
      cursor: pointer;
  }
  
  ul li ul {
      background: rgba(73, 88, 98, 0);
      visibility: hidden;
    opacity: 0;
    min-width: 5rem;
      position: absolute;
    transition: all 0.5s ease;
    margin-top: 0rem;
      left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul, 
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
      clear: both;
      max-width: 100%;
  }


.head_nav__element__logo {
    padding: 7px;
    border: 6px solid #000000;
}
.head_text__container {

    font-family: "Montserrat_B";
    font-size: 45px;
    margin-top: 205px;
    color: rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    text-shadow: 3px 5px 10px grey;

}
.head_text__element span {
    background-color:rgb(148, 242, 238) ;
}

.head_button__container { 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.head_button__element__button {
    max-width: 230px;
    font-family: "Montserrat_R";
    font-size: 18px;
    margin-top: 120px;
    color: rgb(60, 60, 61);
    text-transform: uppercase;
    border: 2px solid rgb(60, 60, 61);
    padding:18px 45px; 
    text-align: center;
    -webkit-text-stroke-width: medium;
}

.head_button__element_pic {
    align-self: flex-end;
    margin-right: 240px;
    margin-top: -32px;
}


.aboutUs_block {
    background-color: rgb(248,250,250);
   
}


.aboutUs_block__container {
   
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(673px, auto);
    
}

.aboutUs_block__elementImg {
    justify-self: center;
  
}

.aboutUs_block__elementText {
    margin-right: 20px;
    margin-right: 150px;
    

}

.aboutUs_block__element__str {
    margin-top: 42px;
    font-family: "Merriweather_B";
    font-size: 20px;
    color: rgb(24, 25, 25);
    text-transform: uppercase;
   



}
.aboutUs_block__element__light {

    font-family: "Raleway_R";
    font-size: 16px;
    color: rgb(24, 25, 25);
    line-height: 1.5;
    margin-top: 32px;

}

.featuredWorks_block {
    text-align: -webkit-center;
    
    
}

.featuredWorks_block__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(359px, 1fr)); 
    grid-gap: 15px;
    padding-top: 10em;
    padding-bottom: 10em;
    max-width: 1150px;
    
}
.featuredWorks_block__element {

}

img.featuredWorks_block__element {
    -moz-user-select: none;
     user-select: none;
     
  }
  img.featuredWorks_block__element:hover {
    display: block;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 99%;
    max-height: 99%;
    border: solid rgba(75, 74, 74, 0.705);
    border-width: 100vh 100vw;
    cursor: zoom-out;
  }
  :not(:active) > img.featuredWorks_block__element:not(:hover), img.featuredWorks_block__element:active {
    pointer-events: none;
  }

.ourServices_block {
    
    background-color: rgb(249,251,251);
}

.ourServices_block__container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin-top: 85px;
    padding-bottom: 7.5rem;
}

.ourServices__big {
    width: 653px;
    height: 400px;
}

.ourServices__small {

    width: 462px;
    height: 400px;

}

.ourServices_block_head{

    font-family: "Merriweather_B";
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-left: 65px;
    text-transform: uppercase;
}

.ourServices_block_text {

    font-family: "Raleway_R";
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    margin-left: 65px;
    margin-right: 50px;

}

.ourServices_block_button {
    margin-left: 65px;
    font-family: "Raleway_M";
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    
}

.ourServices_block__element__fir {
    margin-top: 60px;
    background-color: rgb(113, 245, 234);
    color: black;
    max-height: 421px;
    
}
.ourServices_block__element__sec {
    margin-top: 60px;
    background-image:linear-gradient(rgb(95, 94, 94), #1c1a1abd),url(img/cool.png);
    margin-left: 15px;
    max-height: 421px;
    
}

.ourServices_block__element__thi {
    max-height: 370px;
    margin-top: 15px;
    background-image: linear-gradient(rgb(95, 94, 94), #1c1a1abd),url(img/designing.png);

}
.ourServices_block__element__four {
    margin-left: 15px;
    margin-top: 15px;
    background-image: linear-gradient(rgb(95, 94, 94), #1c1a1abd),url(img/psd.png);
    max-height: 370px;

}
.ourServices_block__element__five {
    margin-top: 15px;
    background-image: linear-gradient(rgb(95, 94, 94), #1c1a1abd),url(img/cool_psd.png);
    max-height: 371px;

}
.ourServices_block__element__six {
    max-height: 371px;
    margin-left: 15px;
    margin-top: 15px;
    background-image: linear-gradient(rgb(95, 94, 94), #1c1a1abd),url(img/designing_is.png);

}
.smallTeam_block{
    text-align: -webkit-center;
}

.smallTeam_block__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(359px, 1fr)); 
    grid-gap: 15px;
    padding-top: 10em;
    padding-bottom: 10em;
    align-items: center;
    justify-items: center;
    max-width: 1150px;
   

}

img.smallTeam_block__element {
    -moz-user-select: none;
     user-select: none;
     max-width: 350px;
     

     
  }
  img.smallTeam_block__element:hover {
    display: block;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 99%;
    max-height: 99%;
    border: solid rgba(75, 74, 74, 0.705);
    border-width: 100vh 100vw;
    cursor: zoom-out;
  }
  :not(:active) > img.smallTeam_block__element:not(:hover), img.smallTeam_block__element:active {
    pointer-events: none;
  }
.smallTeam_block__element {

    
}

.whatThaySays_block{
    margin: 0 auto;
    background-color: rgb(249,251,251);
}



.whatThaySays__button{
    cursor: pointer; 
    font-size:14px;  
    text-decoration: none; 
    padding:17px 26px; 
    color:#757575; 
    background-color:#ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(202, 209, 214, 0.26);
    
}
.whatThaySays__button:hover{
    background-color:#6dfaff;
    color:#353232;
}

.what-they-says {
    
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 8em;

}


.what-they-says-photo-wrap {
    width: 26rem;
    height: 480px;
    
}

.what-they-says-photo-wrap-wrap {
    width: 26rem;
    height: 480px;
    position: relative;
}

.grey-list {
    height: 395px;
    width: auto;
    background-color: #ecedef;
    position: absolute;
}
.slider {
    position: absolute;
    top: -35px;
    left: 25px;
    width: 24rem;
}
.slides-photo {
    position: relative;
    width: 24rem;
    height: 500px;
    list-style-type: none;
}
.slide {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 24rem;
    height: 440px;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 200;
    
}

.slider-circles {
    position: absolute;
    bottom: 0%;
    display: flex;
    left: 180px;
}
.circle {
    background-color: #979899;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 3px;
    
}
.show {
    background-color: #70f6eb;
    opacity: 1;
}






.what-they-says-text {
    height: 450px;
    width: 41rem;
}
.slider-cards {
    width: 41rem;
    height: 365px;
    background-color: #ecedef;
    position: relative;
    border-radius: 3px;
}
.card {
    position: absolute;
    text-align: center;
    padding: 6rem 4rem;
    width: 39rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;

    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.showed {
    opacity: 1;
    z-index: 200;

}
.card-title {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #2c3938;
    font-weight: bold;
    padding-bottom: 20px;
    
    margin: 0px;
}
.card-title-cursive {
    color: #858585;
    font-style: italic;
}
.card-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #858585;
    width: 90%;
    padding-bottom: 10px;
    line-height: 1.5;
}
.fa-star {
    color: #f2da3b;
}
.cards-control {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.buttom-previous {
    margin-right: 28px;
}
.fa-angle-left, .fa-angle-right {
    color: #b2b2b2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(43, 42, 42, 0.164);
}
.fa-angle-right:hover {
    background-color: #70f6eb;
    color: #25514d;
}
.fa-angle-left:hover {
    background-color: #70f6eb;
    color: #25514d;
}

















.sponsors_block {
    height: 173px;
    text-align: center;
    margin-top: 108px;
    
}
.sponsors_block img{
    
}

.element-form {
    display: flex;
    border-bottom: solid 1px #c6ccd1;
    width: 95%;
    margin: 0 auto;
}
.input-form:focus {
    border: none;
    background-color: hsla(175, 79%, 70%, 0.315);
}
.title-torm {
    color: #ece9e9;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}



.location_block__element__fir {
    height: 465px;
    width: 600px;
    padding: 25px;
    box-sizing: border-box;
    background-color: #495862a1;
    justify-self: right;
}

.element-form {
    display: flex;
    border-bottom: solid 1px #c6ccd1;
    width: 95%;
    margin: 0 auto;
}
.input-form:focus {
    border: none;
    background-color: hsla(175, 79%, 70%, 0.315);
}
.title-torm {
    color: #ece9e9;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
.button-send {
    text-transform: uppercase;
    color: #214744;
    background-color: #77efe5;
    padding: 15px 35px;
    border: none;
    margin-top: 35px;
    border-radius: 5px;
    font-weight: bold;
}
.button-send:hover {
    cursor: pointer;
}
.message {
    display: flex;
    flex-direction: column;
}
.input-form {
    border: none;
    background-color: hsla(220, 9%, 93%, 0);
}


.location_block {
   
    background-image:linear-gradient(rgb(255, 255, 255), #f8f8f8bd),url(img/forest.png);
    background-size:contain;
    display: grid;
    grid-template-columns: 1.228fr 0fr;
    justify-content: center;
    align-items:center;
    
}
.location_block__element {

    display: grid;
    grid-template-columns: 1.228fr 1fr;
    justify-content: center;
    align-items:center;
    padding: 10em;

}

.location_block__element__first {
    height: 460px;
    width: 616px;
    background-color: rgba(73, 88, 98, 0.71);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr 2fr;
    font-family: "Raleway_R";
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}

.location-margin {
    margin-top: 28px;
    margin-left: 36px;
    margin-right: 36px;
}
.location-line {
    border-bottom: inset;
    color: rgba(255, 255, 255, 0.7);

}

.button {
   position: relative;
}

.location-button { 
    max-width: 246px;
    max-height: 54px;
    margin-top: 45px;
    color: #53CDD8;
    border-color: #53CDD8;
    overflow: hidden;
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid;
    text-transform: uppercase;
    background: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
    font-family: "Merriweather_R";
    font-size: 18px;
}

.location-button:hover {

    background: rgba(63, 142, 194, 0.849);

}

.location_block__element__sec {
    
    
    margin-left: 29px;
    height: 460px;
    width: 500px;
    background-color: rgba(73, 88, 98, 0.71);
    display: grid;
    grid-template-rows: 0.7fr 0.7fr 2fr;
    
}

.location_block__element__sec__text {
    align-self: center;
    margin-left: 32px;
    margin-top: 20px;
    font-family: "Raleway_R";
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);



}
.location_block__element__sec__map {
    align-self: center;
    justify-self: center;
}

#map {
    width: 455px;
    height: 225px;
}

.followUs_block {
    height: 313px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(37,43,46);
    align-items: center;
}
.followUs_block__element__text{
    font-family: "Raleway_R";
    font-size: 16px;
    margin-top: 40px;
    color: #ffffff;
}
.followUs_block__element__buttons{
    
    display: flex;
    margin-top: 8px;

}

.followUs_block__element__buttons img{
    padding: 14px;
    background: rgb(63,66,68);
    width: 10px;
    height: 12px;
    margin: 5px;
}

.followUs_block__element__buttons img:hover{
    background: rgba(63, 142, 194, 0.849);
}

.followUs_block__element__cpoyright{
    font-family: "Raleway_M";
    font-size: 16px;
    margin-top: 40px;
    color: #ffffff;
}









@media screen and (max-width: 1350px) {
        li {
        font-size: 12px;
        padding: 0.3em;
      }

}


@media screen and (max-width: 1122px) {
    .location_block__element{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .location_block__element__fir {
        width: 90%;
    }
    
    .location_block__element__sec {
        width: 90%;
        margin: 0 auto;
    }

    .sponsors_block img{
    
    max-width: 100%;
    height: auto;
       
    }
    li {
        font-size: 12px;
        padding: 0.3em;
      }
.aboutUs_block__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


}

@media screen and (max-width: 1110px) {
.ourServices__small {
    width: 653px;
    margin: 0 auto;
    }
.ourServices__big {
    margin: 0 auto;
        }
}


@media screen and (max-width: 900px) {
    .head_button__element_pic{
    display: none;
    }

}
@media screen and (max-width: 953px) {
    li {
        font-size: 10px;
        padding: 0.2em;
      }
      .head_button__element__button{
          margin-top: 50px;
      }
}

@media screen and (max-width: 420px) {
    .head_nav__container{
    margin-left: auto;
    }
    
}
@media screen and (max-width: 1110px) {
    .what-they-says {
        flex-wrap: wrap;
        justify-content: center;
    }
    .what-they-says-photo-wrap {
        margin-bottom: 1rem;
    }
}

























@font-face {
    font-family: "Merriweather_B";
    src: url("fonts/Merriweather_B.ttf");
}

@font-face {
    font-family: "Merriweather_R";
    src: url("fonts/Merriweather_R.ttf");
}
@font-face {
    font-family: "Montserrat_B";
    src: url("fonts/Montserrat_B.ttf");
}
@font-face {
    font-family: "Montserrat_R";
    src: url("fonts/Montserrat_R.ttf");
}
@font-face {
    font-family: "Raleway_M";
    src: url("fonts/Raleway_M.ttf");
}
@font-face {
    font-family: "Raleway_R";
    src: url("fonts/Raleway_R.ttf");
}


